@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    resize: vertical;
    background-color: #1a202c;
    border-width: 4px;
    outline: none;
    border-radius: 8px; /* 원하는 radius 값 */
    box-sizing: border-box;
}
textarea:focus {
    border-color: #3b82f6; /* Tailwind's blue-500 */
}
code, pre {
    color: #f8f8f2;
    background-color: #44475a;
    padding: 2px 4px;
    border-radius: 4px;
}
button {
    transition: background-color 0.3s, border-color 0.3s; /* 버튼 스타일링 개선 */
}
@media (max-width: 600px) {
    body {
        padding: 2px; /* 반응형 디자인 */
    }
    textarea {
        font-size: 14px; /* 반응형 디자인 */
    }
}